@mixin box($width:100px, $height:100px) {
    width: $width;
    height: $height;
    box-shadow: 0 0 5px #000;
    margin: 10px;
}

%box {
    box-shadow: 0 0 5px #000;
    margin: 10px;
}
@function x2($value){
    @return $value*2;
}

.smallBox{
    @include box;
}
.bigBox{
    @include box(300px,300px);
}
main{
    > .demo{
        @include box(50px,50px);
    }
}

.box1{
    width: x2(100px);
    height: x2(100px);
    @extend %box;
}

.box2{
    width: 200px;
    height: 200px;
    @extend %box;
}